RewriteEngine on
RewriteBase /
RewriteCond $1 !^(index\.php|images|const-tools|const-js|const-img|scripts|views|styles|bower_components|i18n|fonts|css|lib|fonts|does_yorick_fail\.php|robots\.txt)
RewriteRule ^(.*)$ /index.php/$1 [L]
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]