
<div class="modal-header bg-info">
    <h3>{{content.title}}</h3>
</div>
<div class="modal-body">

    <div id="printDiv" data-slim-scroll data-scroll-height="400px">
        <h2>Dartcounter uitleg</h2>
		<hr class="divider-dotted"/>
		<span>De beschrijving volgt binnenkort!</span>
        <table style="display:none" class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>
                    <th>Knop</th>
                    <th>Omschrijving</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="dismiss('cancel')">Sluit venster</button>
</div>